@model IEnumerable<GuildCars.Models.Queries.VehiclesJoined>
@{
    ViewBag.Title = "Inventory";
}

<h1>Browse our expansive inventory.</h1>
<h6>@ViewBag.Message</h6>

<div class="row">
    <div class="col-xs-12">
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <label for="city">Quick Search</label>
                <input type="text" class="form-control" id="carSearch" placeholder="make, model, or year">
            </div>
            <!--come back to this when you're brain is working better-->
            @*<div class="form-group">
                <label for="Price">Min Price</label>
                @Html.DropDownList("min$", Model.Select(decimal s => s.SalePrice.ToString().OrderByDescending);
            </div>*@

            <div class="form-group">
                <label for="Price">Min Price</label>
                @Html.DropDownList("min$", new SelectList(Model,  "SalePrice"), "Any", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="SalePrice">Max Price</label>
                @Html.DropDownList("max$", new SelectList(Model, "SalePrice"), "Any", new { @class = "form-control" })
            </div>
            <button id="btnSearch" class="btn btn-default">Search</button>
        </form>
    </div>
</div>
<hr />
<div id="yearMakeAndModel"></div>



@section Scripts
{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params = 'searchVal=' + $('#carSearch').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:50929/Vehicle/search?' + params,
                success: function (results) {
                    $('#yearMakeAndModel').empty();

                    $.each(results, function (index, vehicle) {
                        var html = `<p>
                                        ${vehicle.Year} ${vehicle.Make} ${vehicle.Model}
                                    </p>
                                    <a class ="btn btn-info" href="Details/${vehicle.VehicleId}">details</a>
                                    `
                        var testHtml = `<div class="row">
                                            <div class="col-md-3">PUT PICTURE LINK HERE</div>
                                            <dl class="dl-horizontal dl col-md-3">
                                                <dt>
                                                    BodyStyle
                                                </dt>

                                                <dd>
                                                    ${vehicle.BodyStyle}
                                                </dd>

                                                <dt>
                                                    Transmission
                                                </dt>

                                                <dd>
                                                    ${vehicle.TransmissionType}
                                                </dd>

                                                <dt>
                                                    Color
                                                </dt>

                                                <dd>
                                                    ${vehicle.Color}
                                                </dd>

                                            </dl>
                                            <dl class="dl-horizontal dl col-md-3">
                                                <dt>
                                                    Color
                                                </dt>

                                                <dd>
                                                    ${vehicle.Color}
                                                </dd>

                                                <dt>
                                                    Mileage
                                                </dt>

                                                <dd>
                                                    ${vehicle.Mileage}
                                                </dd>

                                                <dt>
                                                    VIN
                                                </dt>

                                                <dd>
                                                    ${vehicle.VIN}
                                                </dd>
                                            </dl>
                                            <dl class="dl-horizontal dl col-md-3">
                                                <dt>
                                                    SalePrice
                                                </dt>

                                                <dd>
                                                    ${vehicle.SalePrice}
                                                </dd>

                                                <dt>
                                                    MSRP
                                                </dt>

                                                <dd>
                                                    ${vehicle.MSRP}
                                                </dd>
                                                <a class ="btn btn-info" href="Details/${vehicle.VehicleId}">details</a>
                                            </dl>
                                        </div>`
                        $('#yearMakeAndModel').append(testHtml.toString());
                    });

                },
                error: function () {
                    alert('Error performing search, contact I.T. hahaha.')
                }
            });
        }
    </script>
}



  
