@model SUKTIE.Models.StaticPageViewModel
@{
    ViewBag.Title = "Edit";
}

<head>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
  tinymce.init({
    selector: '#blogBody'
  });
    </script>
</head>

<h2>Static Page Editor</h2>
<hr />
@using (Html.BeginForm("Edit", "StaticPage", FormMethod.Post, new { enctype = "multipart/form-data", id = "UsedForJavascriptInShackUpExample" }))
{
    @Html.HiddenFor(m=>m.StaticPage.StaticPageId)
    <div class="form-group">
        <label>Static Page Title</label>
        @Html.TextBoxFor(t => t.StaticPage.StaticPageName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Static Text</label>
        @Html.TextAreaFor(t => t.StaticPage.StaticPageBody, new { @class = "form-control", id = "blogBody" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>

    </div>
}
@using (Html.BeginForm("Delete", "StaticPage", new { id = Model.StaticPage.StaticPageId }, FormMethod.Get ))
{

    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this static page?');">Delete</button>
}